.product-txt{
  width: 300px; 
  
}
#lname{
  margin-left: 37px;
}
#country{
  width: 300px;height: 26px;
  margin-left: 48px;
}
#country1{
  width: 300px;height: 26px;
  margin-left: 90px;
  float: left;
}
.numberrit{
  margin-left: 80px;
  width: 80px;
}
.textarea{
  margin-left: 60px;
  width: 300px;
  height: 80px;
  margin-top: 5px;
}
.fa-folder-open{
  margin-left: 10px;
  color: #fad859;  
}
#TxtBoxBrand{
  margin-left: 90px;
  display: none;float: left;
}
.fa-plus-circle{
  color: #bcd451;
  margin-left: 20px;
}

   .container div {
    margin: 3px;
    padding: 10px;
    background: #fbfcfc;
  }
/*  */

figure.snip0068 {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 200px;
    max-width: 200px;
    max-height: 135px;
    width: 100%;
    background: #000000;
    text-align: center;
  }
  
  figure.snip0068 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  figure.snip0068 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  
  figure.snip0068 figcaption {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 100%;
  }
  
  
  figure.snip0068 h3,
  figure.snip0068 span {
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  
  figure.snip0068 span {
    background: #dd5e5e;
    color: #ffffff;
    -webkit-transform: translate3d(0%, -100%, 0);
    transform: translate3d(0%, -100%, 0);
    border-radius: 2px;
  }
  
  figure.snip0068:hover img,
  figure.snip0068.hover img {
    opacity: 0.35;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  figure.snip0068:hover figcaption h3,
  figure.snip0068.hover figcaption h3 {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
  }
  
  figure.snip0068:hover figcaption span,
  figure.snip0068.hover figcaption span {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
  }

  .removeanh:hover{
      background: rgb(211, 33, 33);
  }

  

  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0,0);
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(
      50deg,#b9bdbd,#999898
    );
    border-radius: 3px;
  }



  .checkbox input{
    outline: none;
    height: 40px;
    width: 90px;
    border-radius: 50px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .checkbox input:checked{
    background: #664AFF;
  }
  .checkbox input:before{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 40px;
    background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  input:checked:before{
    left: 50px;
  }




